<main [class]="mainClass()">
  <div class="top-bars">
    <div class="bars">
      <power-bar label="The Keeper" [value]="powers().open" [max]="100" side="left" [isFinish]="isBattleFinished()"></power-bar>
      <power-bar label="The Breaker" [value]="powers().closed" [max]="100" side="right" [isFinish]="isBattleFinished()"></power-bar>
    </div>
  </div>
  <div class="content">
    <div class="pane left">
      <img class="fighter" src="subzero-mk2-fix.gif" alt="Sub-Zero" />
    </div>
    <div class="pane center">
      <div class="qr-container">
        @if(round()){
        <qrcode
          [qrdata]="qrCodeUrl()"
          [width]="qrCodeHeightPx()"
          [errorCorrectionLevel]="'M'"
        ></qrcode>

        }
      </div>
    </div>
    <div class="pane right">
      <img class="fighter" src="scorpion-stance.gif" alt="Scorpion" />
    </div>
  </div>
</main>
